body {
	background: #333;
	margin: 0;
	overflow: hidden;
}

svg{
	width:100vw;
	height:100vh;
}

svg circle.grav-point {
	fill: silver;
}

svg circle.draggable {
	fill: red;
	cursor: pointer;
}

svg circle.inner-point {
	fill: salmon;
}

svg circle.inner {
	stroke-width: 2;
	stroke: salmon;
	fill: none;
}

svg circle.circum-point {
	fill: lawngreen;
}

svg circle.circum {
	stroke-width: 2;
	stroke: lawngreen;
	fill: none;
}


svg path {
	stroke-width: 4;
	stroke: white;
	fill: none;
}
