body {
	background: #333;
	margin: 0;
	overflow: hidden;
}

svg{
	width:100vw;
	height:100vh;
}

svg circle {
	fill: red;
	r: 10;
	cursor: pointer;
}

svg path {
	stroke-width: 4;
	stroke: white;
	fill: none;
}
