body {
	background: #333;
	margin: 0;
	overflow: hidden;
}

svg{
	width:100vw;
	height:100vh;
}

svg circle.grav-point {
	fill: silver;
	r: 5;
}

svg circle.draggable {
	fill: red;
	r: 10;
	cursor: pointer;
}

svg circle.inner {
	stroke-width: 2;
	stroke: purple;
	fill: none;
	display: none;
}

svg path {
	stroke-width: 4;
	stroke: white;
	fill: none;
}
